<div class="jumbotron">
  <center>
    <h1><%= @book.book_name %></h1>
    <img src="<%= @book.image %>">
  </center>
  <h3>Title: <%= @book.book_name %></h3>
  <h3>Author: <%= @book.author_name %></h3>
  <h3>Category: <%= @book.catagory %></h3>
  <h3>Description: <%= @book.description %></h3>
  <h3>Price: $<%= @book.price %></h3>
</div>